apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-web-ui
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-web-ui
  template:
    metadata:
      labels:
        app: react-web-ui
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: react-web-ui
          image: ghcr.io/kkw855/react-web-ui:d93a541a7285fa14b1f50a9104c548d7c59f7735
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: react-web-ui
  namespace: default
spec:
  selector:
    app: react-web-ui
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30000

